@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
    --color-primary: #7c4ee4;
    --color-secondary: #ffffff;
    --color-text: #333333;
    --color-text-muted: #666666;
    --color-gray: 999999;
    --font-family-base: "Roboto", "Helvetica Neue", Arial, sans-serif;
    --font-family-heading: "Raleway", "Helvetica Neue", Arial, sans-serif;
    --font-family-alt: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}
